# Files that are too large, push .gz variants
mean_models/mean_data/*.csv
matrix_data/*.csv
matrix_data/matrixStateData_200000_20_iter.csv.gz
matrix_data/matrixStateData_200000_20_trial.csv.gz

# Model checkpoint files
savedModels/**/*.pt

# Slurm output
output/*
slurm_output/*